:root {
  --vp-c-brand-1: #ff7400;
  --vp-c-brand-2: #ff7400;
  --vp-c-brand-3: #ff7400;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #ff4d00 30%,
    #ff9a00
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    rgba(255, 77, 0, 0.2) 40%,
    rgba(255, 154, 0, 0.2) 40%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

.hidden {
  display: none;
}

.iframe {
  width: 100%;
  border: none;
}

.VPHomeHero .VPImage {
  max-width: 160px;
}

.schema {
  margin: 4em 0;
}

.framed {
  border-radius: 1rem;
}

.package {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.package h3 {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: bold;
  font-size: 1rem;
}

.package h3 img {
  width: 2rem;
}

.package p {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid var(--vp-c-divider);
}

.package div {
  margin-left: 2rem;
}

.video {
  border-radius: 1rem;
  width: 100%;
}

.number {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.85rem;
  color: #ffffff;
  background-color: #000000;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  text-align: center;
  font-weight: bold;
}

h1, h2, h3 {
  display: flex;
  align-items: center;
}

.image {
  border-radius: 1rem;
  width: 100%;
  border: 2px solid #f1f1f1;
}